@import '../../../assets//variables';
button {
  outline: none !important;
}
.btn-primary {
  background-color: $green; //TO_DO: should be derived from colo palatte
  border: 2px solid $green;
  border-radius: 0px;
  outline: none;
  &:hover {
    color: $green;
    background: white;
    border: 2px solid $green;
  }
}

.red-button {
  background-color: #e63662; //TO_DO: should be derived from colo palatte
  border: 2px solid #e90a28;
  border-radius: 0px;
  &:hover {
    color: #e63662;
    background: white;
    border: 2px solid #e90a28;
  }
}