@import '../client/assets/variables';
body{
  background: #6f74727a !important;
}
.Toastify__toast--success {
  background: $green !important;
  border-radius: 5px;
  padding: 1rem;
}

.grey-bg {
  
}

.bg-light {
  // background: 
}
.white-bg {
  background-color: $bright;
}

.br-5 {
  border-radius: 5px;
}

.css-spersy-control {
  margin-bottom: 10px;
}